{% extends "main.html" %}
{% block head %}
    <title>Web test</title>
{% endblock %}
{% block body %}
	<div clas="container">
		<div class="row">
			<div class="col-8">
				<!--<div class="row mt-5 justify-content-center">-->
					<div class="col-lg mt-5">
						<form class="form" action="{{ url_for('timeline') }}" method="POST">
							{{ form.csrf_token }}
							<div class="form-group">
								<!--{{ form.descripcion.label }}-->
								<h1 class="mt-5">Deja tu comentario</h1>
								{{ form.descripcion(class="form-control", placeholder="¿Qué piensas?")}}
							</div>
							<button type="submit" class=" btn btn-primary">Enviar</button>
						</form>
						<!--Imprimir los comentarios-->						
						<!--{{ posts }}-->
						<div>
							{% for post in posts %}
								<div class="card mt-4" style="width: 100">
									<div class="card-body">
										<h5 class="card-title">{{ post.user.name }}</h5>
										<p class="card-text">{{ post.descripcion }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-4">
					<!--<div class="row mt-5 justify-content-center">-->
						<div class="col-lg mt-5">
							<div class="card" style="width: 18rem;">
								<div class="card-body">
									<h1 class="card-title">{{ user.name }}!</h1>
									<p class="card-text">{{ user.descripcion }}</p>
									<p class="card-text">{{ user.correo_electronico }}</p>
									<p class="card-text">{{ user.numeroTel }}</p>
									<a href="#" class="card-link">Logout</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}