						<!--<div>
							{% for post in posts %}
								<div class="mt-5" style="width: 100">
									<div class="card-body">
										<h5 class="card-title">{{ post.user.name }}</h5>
										<p class="card-text">{{ post.descripcion }}</p>
									</div>
								</div>
							{% endfor %}
						</div>-->



codigo hecho por my


@app.route("/", methods=["GET", "POST"])
def timeline():

	form = PostForm()
	if form.validate_on_submit():
		post = {
			'descripcion': form.descripcion.data,
			'user_id': user['_id']			
		}

		mongodb.posts.insert_one(post)
		#return str(post)
		return redirect(url_for("timeline"))

	#mongodb.users.find_one({ '_id': post['user_id'] })

	#consultar los datos de las publicaciones 
	posts = list(mongodb.posts.find())
	
	#print(posts)
	for post in posts:
		post['user'] = mongodb.users.find_one({'_id': post['user_id']})

	user = session.get('profile')
	if not user:
		return redirect(url_for('login'))

	return render_template('home.html', user=user, form=form, posts=posts)